.button_pink {
  padding: 10px 15px;
  border-radius: 30px;
  background-color: #b50263;
  color: #ffffff;
  border: 1px solid #b50263; }
  .button_pink:focus, .button_pink:hover {
    color: #ffffff;
    background-color: #88004a;
    border: 1px solid #88004a; }

.button_purple {
  padding: 10px 15px;
  border-radius: 30px;
  background-color: #4e0195;
  color: #ffffff;
  border: 1px solid #4e0195; }
  .button_purple:focus, .button_purple:hover {
    color: #ffffff;
    background-color: #3a006f;
    border: 1px solid #3a006f; }

.button_purple_shop {
  padding: 10px 15px;
  background-color: #4e0195;
  color: #ffffff;
  border: 1px solid #4e0195; }
  .button_purple_shop:focus, .button_purple_shop:hover {
    color: #ffffff;
    background-color: #3a006f;
    border: 1px solid #3a006f; }

.button_red {
  padding: 10px 15px;
  border-radius: 30px;
  background-color: #ef5350;
  color: #ffffff;
  border: 1px solid #ef5350; }
  .button_red:focus, .button_red:hover {
    color: #ffffff;
    background-color: #da4a47;
    border: 1px solid #da4a47; }

.mercadopago-button {
  background-color: #4e0195 !important;
  color: #ffffff;
  border: 1px solid #4e0195 !important; }
  .mercadopago-button:focus, .mercadopago-button:hover {
    color: #ffffff;
    background-color: #3a006f !important; }

.navbar_site {
  font-size: 18px;
  background-color: #000000;
  height: 55px; }
  .navbar_site li {
    display: flex;
    align-items: center;
    width: 145px; }
  .navbar_site a {
    color: #ffffff !important;
    margin: 0 auto;
    display: table; }
  .navbar_site img {
    margin: 0 auto;
    display: table; }
  .navbar_site .tiny_logo img {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0; }
  .navbar_site .display_none {
    display: none; }
  .navbar_site .display_block {
    display: block; }
  .navbar_site .mobile {
    display: none; }
  .navbar_site i {
    font-size: 22px;
    align-items: center; }
  .navbar_site .badge {
    border-radius: 20px;
    padding: 6px 9px;
    background-color: #b50263;
    color: white; }
  .navbar_site .dropdown-menu {
    width: 100%;
    background-color: #000000;
    border-radius: 0 0 20px 20px;
    text-align: center; }
    .navbar_site .dropdown-menu a:hover {
      background: #000000;
      color: gray; }

.align_center {
  align-items: center; }

.align_center_center {
  display: flex;
  align-items: center; }

.ele_center, .app_home_div .app_home .phone_image,
.app_home_div .app_home .store_image {
  margin: 0 auto;
  display: table; }

.m0 {
  margin: 0; }

.m1r {
  margin: 1rem 0; }

.p1r {
  padding: 1rem 0; }

.pb2r {
  padding-bottom: 2rem; }

.line_black {
  height: 1px;
  background-color: #000000;
  margin: 10px 0; }

.footer_temp {
  text-align: center;
  background-color: #000000;
  padding: 17px 15px;
  color: #ffffff; }
  .footer_temp p {
    color: #ffffff; }

@media only screen and (max-width: 1024px) {
  .navbar_site {
    font-size: 16px; }
    .navbar_site li {
      width: 135px; } }
@media only screen and (max-width: 991px) {
  .navbar_site {
    height: auto; }
    .navbar_site .mobile {
      display: block; }
    .navbar_site .tiny_logo {
      display: none; }
    .navbar_site li {
      display: block;
      width: auto;
      padding: 3px 0; }
    .navbar_site img {
      position: inherit;
      width: 70%; }
    .navbar_site .navbar-toggler {
      position: absolute; }
    .navbar_site .display_none {
      display: block; }

  .fixed-top {
    position: relative; } }
@media only screen and (max-width: 768px) {
  .navbar_site li {
    display: block;
    width: auto;
    padding: 3px 0; }
  .navbar_site li .scroll_down {
    display: none; } }
.banner_home_div {
  background-color: #000000; }
  .banner_home_div .banner_home {
    background: url("../imgs/banner_home.jpg");
    background-size: cover;
    height: 90vh; }
    .banner_home_div .banner_home img {
      margin: 0 auto;
      display: table;
      padding: 2rem 0;
      width: 20%; }
    .banner_home_div .banner_home p {
      font-size: 50px;
      line-height: 50px;
      color: #ffffff;
      text-align: center;
      width: 50%;
      margin: 0 auto;
      padding: 3% 0; }

.info_home_div {
  background: linear-gradient(to right, #2b0a59, #630752, #cb0245); }
  .info_home_div .info_home {
    background: url("../imgs/info_home.jpg") center;
    background-size: cover;
    height: 75vh; }
    .info_home_div .info_home p {
      font-size: 60px;
      line-height: 60px;
      color: #ffffff;
      text-align: center;
      width: 45%;
      padding: 10% 3%;
      margin: 0; }

.exc_imgs, .exclusive_home_div .exc_img_1, .exclusive_home_div .exc_img_2, .exclusive_home_div .exc_img_3, .exclusive_home_div .exc_img_4 {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.exclusive_home_div .row {
  margin: 0; }
.exclusive_home_div p {
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  margin: 0; }
.exclusive_home_div .exc_img_1 {
  background: url("../imgs/exclusivo1.jpg") center;
  background-size: cover; }
.exclusive_home_div .exc_img_2 {
  background: url("../imgs/exclusivo2.jpg") center;
  background-size: cover; }
.exclusive_home_div .exc_img_3 {
  background: url("../imgs/exclusivo3.jpg") center;
  background-size: cover; }
.exclusive_home_div .exc_img_4 {
  background: url("../imgs/exclusivo4.jpg") center;
  background-size: cover; }

.app_home_div {
  background: url("../imgs/app_home.jpg") center;
  background-size: cover; }
  .app_home_div .app_home {
    background: #1919193d;
    height: 90vh; }
    .app_home_div .app_home .tittle {
      font-size: 60px;
      color: #ffffff;
      text-align: center;
      margin: 2rem 0;
      padding: 0; }
    .app_home_div .app_home p {
      font-size: 22px;
      color: #ffffff;
      margin: 0;
      line-height: normal;
      padding-bottom: 2rem;
      font-weight: 300; }
    .app_home_div .app_home .phone_image,
    .app_home_div .app_home .store_image {
      width: 100%; }

@media only screen and (max-width: 1024px) {
  .banner_home_div .banner_home img {
    width: 25%; }
  .banner_home_div .banner_home p {
    width: 60%;
    font-size: 45px;
    line-height: 45px; }

  .info_home_div .info_home p {
    font-size: 50px;
    line-height: 50px;
    width: 55%; }

  .exclusive_home_div p {
    font-size: 25px;
    line-height: 25px; }
  .exclusive_home_div .exc_imgs, .exclusive_home_div .exc_img_1, .exclusive_home_div .exc_img_2, .exclusive_home_div .exc_img_3, .exclusive_home_div .exc_img_4 {
    height: 30vh; }

  .app_home_div .app_home {
    height: 75vh; }
    .app_home_div .app_home .tittle {
      font-size: 50px;
      margin: 2rem 0; }
    .app_home_div .app_home p {
      font-size: 20px; } }
@media only screen and (max-width: 991px) {
  .banner_home_div .banner_home {
    height: 60vh; }
    .banner_home_div .banner_home img {
      padding: 6rem 0 3rem; }
    .banner_home_div .banner_home p {
      width: 80%; }

  .info_home_div .info_home {
    height: 55vh; }
    .info_home_div .info_home p {
      font-size: 45px;
      line-height: 40px;
      width: 65%; }

  .app_home_div .app_home {
    height: auto; }
    .app_home_div .app_home .tittle {
      font-size: 40px; }
    .app_home_div .app_home p {
      font-size: 17px; } }
@media only screen and (max-width: 768px) {
  .banner_home_div .banner_home p {
    font-size: 38px;
    line-height: 35px; }

  .info_home_div .info_home p {
    font-size: 35px;
    line-height: 35px; }

  .exclusive_home_div p {
    font-size: 22px;
    line-height: 25px; }

  .app_home_div .app_home .store_image {
    width: 70%; }
  .app_home_div .app_home .phone_image {
    width: 40%; } }
@media only screen and (max-width: 575px) {
  .banner_home_div .banner_home img {
    width: 40%;
    padding: 7rem 0 3rem; }
  .banner_home_div .banner_home p {
    width: 100%;
    font-size: 35px;
    line-height: 35px; }

  .info_home_div .info_home {
    height: 45vh; }
    .info_home_div .info_home p {
      width: 75%; }

  .exclusive_home_div p {
    font-size: 33px;
    line-height: 25px; }
  .exclusive_home_div .exc_imgs, .exclusive_home_div .exc_img_1, .exclusive_home_div .exc_img_2, .exclusive_home_div .exc_img_3, .exclusive_home_div .exc_img_4 {
    height: 25vh; }

  .app_home_div .app_home p {
    font-size: 18px; }
  .app_home_div .app_home .store_image {
    width: 100%; }
  .app_home_div .app_home .phone_image {
    width: 50%; } }
.banner_store {
  background: url("../imgs/banner_store.jpg") center;
  background-size: cover;
  height: 55vh; }
  .banner_store p {
    font-size: 72px;
    text-align: center;
    padding-top: 10rem;
    color: #000000;
    line-height: normal;
    font-family: 'Sedgwick Ave', cursive;
    width: 65%;
    margin: 0 auto; }

.div_store {
  padding: 0 2%; }
  .div_store .toggle_checkout button {
    display: none; }
  .div_store .row {
    margin: 0; }
  .div_store .filters .button_search {
    width: 50%;
    margin: 0 auto;
    display: table; }
    .div_store .filters .button_search button {
      width: 100%;
      margin: 15px 0;
      cursor: pointer;
      font-size: 18px; }
  .div_store .filters .card {
    background: #eeeeee;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.26); }
    .div_store .filters .card .advanced_search_toggle {
      cursor: pointer; }
      .div_store .filters .card .advanced_search_toggle i {
        font-size: 22px;
        color: #b50263;
        padding: 0 10px; }
      .div_store .filters .card .advanced_search_toggle p {
        color: #b50263;
        padding: 10px 0;
        font-size: 20px;
        margin: 0; }
        .div_store .filters .card .advanced_search_toggle p::selection {
          background-color: #eeeeee;
          color: #b50263; }
    .div_store .filters .card .form-control {
      border-radius: 20px;
      border-color: #b50263; }
    .div_store .filters .card #advanced_search a {
      color: #000000;
      font-size: 10px; }
    .div_store .filters .card #advanced_search .tittle {
      font-size: 22px;
      color: #b50263;
      text-align: center;
      text-transform: uppercase;
      padding: 20px 0 10px; }
    .div_store .filters .card #advanced_search i {
      font-size: 20px;
      background-color: #e3bfd2;
      color: #b50263;
      border-radius: 20px;
      padding: 10px 15px;
      border: 1px solid #b50263;
      cursor: pointer; }
    .div_store .filters .card #advanced_search .custom-select {
      border-radius: 20px;
      border-color: #b50263;
      background: #ffffff; }
    .div_store .filters .card #advanced_search .form-check-label {
      font-size: 15px; }
    .div_store .filters .card .slider-horizontal {
      width: 100%; }
    .div_store .filters .card .slider-handle {
      background-color: #b50263;
      background-image: none; }
  .div_store .products .card {
    background: #eeeeee;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.26); }
    .div_store .products .card:hover {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-animation-duration: 0.5s;
      -moz-animation-duration: 0.5s;
      -o-animation-duration: 0.5s;
      animation-duration: 0.5s;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.6); }
    .div_store .products .card .img_prod {
      position: relative; }
      .div_store .products .card .img_prod img {
        width: 100%; }
      .div_store .products .card .img_prod .tittle {
        position: absolute;
        bottom: 0;
        margin: 0;
        background-color: #000000bd;
        width: 100%;
        text-align: center; }
        .div_store .products .card .img_prod .tittle p {
          color: #ffffff;
          font-size: 18px;
          line-height: 22px;
          margin: 5% 5% 10%; }

#cont_pager {
  margin: 0 auto;
  display: table;
  padding: 40px 0; }
  #cont_pager .end,
  #cont_pager .start {
    border: none;
    font-size: 20px; }
  #cont_pager .end {
    color: #b50263; }
  #cont_pager a {
    color: #000000;
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid #000000;
    font-size: 15px; }
  #cont_pager .active {
    color: #b50263;
    border: 1px solid #b50263; }

.checkout {
  padding: 6% 3%; }
  .checkout .row {
    margin: 0; }
  .checkout .tcenter {
    text-align: center; }
  .checkout .tittle {
    font-size: 42px;
    color: #000000;
    line-height: normal; }
  .checkout .product_list {
    align-items: center; }
    .checkout .product_list p {
      margin: 0;
      font-size: 16px;
      color: #000000; }
    .checkout .product_list img {
      width: 100%; }
    .checkout .product_list a {
      color: #013c95;
      text-decoration: underline !important; }
    .checkout .product_list .name {
      font-size: 19px;
      font-weight: 700;
      color: #000000;
      padding-bottom: 10px; }
    .checkout .product_list .descrip_short {
      font-size: 15px;
      font-weight: 300;
      color: #666666;
      padding-bottom: 10px; }
    .checkout .product_list .quantity {
      text-align: center;
      padding: 10px;
      background-color: #eeeeee;
      border: 1px solid #000000;
      border-radius: 5px;
      margin: 0 auto;
      width: 50%;
      display: table;
      font-size: 16px; }
    .checkout .product_list .price {
      text-align: center;
      color: #000000;
      font-size: 18px; }
    .checkout .product_list .img_quantity {
      width: 20%;
      margin: 0 10px; }
    .checkout .product_list .display_none {
      display: none; }
  .checkout .payment, .checkout .address {
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0; }
    .checkout .payment p, .checkout .payment label, .checkout .address p, .checkout .address label {
      color: #000000;
      font-size: 16px;
      margin: 5px; }
  .checkout .payment_button button {
    margin: 15px 0;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase; }
  .checkout .toggle_checkout button {
    display: none; }

@media only screen and (max-width: 1169px) {
  .div_store .filters .card {
    padding: 10px; }
    .div_store .filters .card .advanced_search_toggle p {
      font-size: 18px; }
    .div_store .filters .card #advanced_search .tittle {
      font-size: 18px; }
    .div_store .filters .card #advanced_search i {
      font-size: 18px;
      padding: 6px 8px; }
    .div_store .filters .card #advanced_search .form-check-label {
      font-size: 13px; }
  .div_store .products .card {
    padding: 10px; }
    .div_store .products .card .img_prod .tittle p {
      font-size: 16px;
      line-height: 18px;
      margin: 5%; } }
@media only screen and (max-width: 991px) {
  .checkout {
    padding: 4% 0; }
    .checkout .toggle_checkout button {
      display: block; }

  .div_store {
    padding: 0; }
    .div_store .toggle_checkout button {
      display: block; }

  .div_store .filters .card {
    padding: 10px; }
    .div_store .filters .card #advanced_search i {
      font-size: 20px;
      padding: 10px 15px; }
    .div_store .filters .card #advanced_search .form-check-label {
      font-size: 13px; }

  .banner_store p {
    padding-top: 8rem;
    font-size: 60px; } }
@media only screen and (max-width: 767px) {
  .banner_store {
    height: 45vh; }
    .banner_store p {
      padding-top: 5rem;
      font-size: 60px;
      width: 80%; } }
@media only screen and (max-width: 575px) {
  .banner_store {
    height: 45vh; }
    .banner_store p {
      font-size: 45px; }

  .div_store .products .card {
    padding: 20px; }
    .div_store .products .card .img_prod .tittle p {
      font-size: 20px;
      line-height: 24px; }

  .checkout .row .w15 {
    width: 15%; }
  .checkout .row .w20 {
    width: 20%; }
  .checkout .row .w30 {
    width: 30%; }
  .checkout .row .w33 {
    width: 33%; }
  .checkout .row .w35 {
    width: 35%; }
  .checkout .row .w50 {
    width: 50%; }
  .checkout .row .w70 {
    width: 70%; }
  .checkout .tittle {
    font-size: 32px;
    margin: 0; }
  .checkout .product_list {
    /*img{
      width: 70%;
      margin: 0 auto;
      display: table;
    }*/ }
    .checkout .product_list .name {
      padding-top: 20px; }
    .checkout .product_list .price {
      padding-top: 10px; }
    .checkout .product_list .quantity {
      margin: 10px auto; } }
@media only screen and (max-width: 389px) {
  .div_store .products .card {
    padding: 15px; }
    .div_store .products .card .img_prod .tittle p {
      font-size: 16px;
      line-height: 20px; }
  .div_store .filters .card #advanced_search i {
    font-size: 18px;
    padding: 6px 8px; }
  .div_store .filters .card #advanced_search .form-check-label {
    font-size: 13px; }

  .banner_store p {
    padding-top: 8rem;
    font-size: 40px; } }
@media only screen and (max-width: 352px) {
  .banner_store p {
    padding-top: 8rem;
    font-size: 36px; } }
.product_detail {
  padding: 8% 2%; }
  .product_detail .row {
    margin: 0; }
    .product_detail .row .img_product .carousel-indicators {
      bottom: -5%; }
      .product_detail .row .img_product .carousel-indicators li {
        background-color: #e3bfd2;
        border-radius: 20px;
        width: 10px;
        height: 10px; }
      .product_detail .row .img_product .carousel-indicators .active {
        background-color: #b50263; }
    .product_detail .row .img_product .card {
      background-color: #eeeeee;
      box-shadow: none; }
    .product_detail .row .img_product img {
      width: 100%; }
    .product_detail .row .info_product {
      line-height: normal;
      margin: 15px 0; }
      .product_detail .row .info_product p {
        margin-bottom: 25px; }
      .product_detail .row .info_product .tittle {
        font-size: 42px;
        color: #000000; }
      .product_detail .row .info_product .price {
        font-size: 35px;
        color: #666666; }
      .product_detail .row .info_product .descrip_short {
        color: #333333;
        font-size: 18px; }
      .product_detail .row .info_product .descrip_long {
        color: #b50263;
        font-size: 18px; }
      .product_detail .row .info_product legend {
        color: #000000; }
      .product_detail .row .info_product select {
        width: 100%;
        height: 40px;
        font-size: 18px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
      .product_detail .row .info_product button {
        width: 100%; }
      .product_detail .row .info_product .button_purple_shop {
        font-size: 21px;
        cursor: pointer; }
      .product_detail .row .info_product .politicas_entrega {
        color: #666666;
        text-decoration: underline !important;
        font-size: 16px; }
        .product_detail .row .info_product .politicas_entrega:hover {
          color: #444444; }

@media only screen and (max-width: 991px) {
  .product_detail {
    padding: 4% 0; }
    .product_detail .row .info_product p {
      margin-bottom: 20px; }
    .product_detail .row .info_product .tittle {
      font-size: 35px; }
    .product_detail .row .info_product .price {
      font-size: 31px; } }
@media only screen and (max-width: 575px) {
  .product_detail {
    padding: 4% 0; }
    .product_detail .row .info_product p {
      margin-bottom: 20px; }
    .product_detail .row .info_product .tittle {
      font-size: 35px; }
    .product_detail .row .info_product .price {
      font-size: 31px; } }
.informacion_usuario {
  padding: 4% 0; }
  .informacion_usuario .row {
    margin: 0; }
  .informacion_usuario .tittle {
    font-size: 40px;
    color: #000000;
    line-height: normal;
    margin: 1rem 0 2rem; }
  .informacion_usuario .subtittle {
    font-size: 20px;
    color: #000000;
    line-height: normal; }
  .informacion_usuario .information_block {
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 10px;
    min-height: 40vh; }
    .informacion_usuario .information_block .display_none {
      display: none; }
    .informacion_usuario .information_block .display_block {
      display: block; }
    .informacion_usuario .information_block .info_element {
      padding-bottom: 10px; }
      .informacion_usuario .information_block .info_element a {
        color: #013c95;
        text-decoration: underline; }
      .informacion_usuario .information_block .info_element p {
        color: #000000;
        margin-bottom: 0; }
      .informacion_usuario .information_block .info_element .tittle_info {
        font-size: 16px;
        font-weight: 400; }
      .informacion_usuario .information_block .info_element .value_info {
        font-size: 16px;
        font-weight: 700; }
      .informacion_usuario .information_block .info_element .value_status {
        font-size: 16px;
        font-weight: 400;
        color: green;
        text-align: center;
        border-top: 0.5px #6d6d6db3 solid; }
      .informacion_usuario .information_block .info_element img {
        margin: 0 auto;
        display: table;
        width: 50%; }
      .informacion_usuario .information_block .info_element input {
        width: 100%;
        font-size: 15px;
        padding: 5px; }
      .informacion_usuario .information_block .info_element .delete_card {
        cursor: pointer; }
      .informacion_usuario .information_block .info_element .card_img {
        margin: 0;
        display: block;
        width: 32px; }
    .informacion_usuario .information_block .address_accordion {
      background-color: #eeeeee; }
      .informacion_usuario .information_block .address_accordion button {
        font-size: 16px;
        color: #000000;
        padding: 10px 0;
        margin: 0 auto;
        display: table; }
  .informacion_usuario .button_add_payment button {
    margin: 10px 0;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase; }

.modal-content {
  background-color: #eeeeee;
  border-radius: 30px;
  padding: 10px; }
  .modal-content .modal-header h3 {
    color: #000000; }
  .modal-content .modal-header .close {
    margin: 0;
    padding: 0;
    font-size: 22px; }
  .modal-content .modal-body .row {
    padding: 5px 0; }
  .modal-content .modal-body p {
    margin: 0;
    color: #000000;
    font-size: 18px;
    text-align: center; }
  .modal-content .modal-body input {
    font-size: 18px;
    width: 100%; }
  .modal-content .display_none {
    display: none; }

@media only screen and (max-width: 991px) {
  .informacion_usuario {
    padding: 2% 0; }
    .informacion_usuario .tittle {
      margin: 0.5rem 0; }
    .informacion_usuario .subtittle {
      margin: 1rem 0; }
    .informacion_usuario .information_block {
      background-color: #eeeeee;
      border-radius: 5px;
      padding: 10px;
      min-height: 40vh; }
      .informacion_usuario .information_block .info_element {
        padding-bottom: 15px; }
        .informacion_usuario .information_block .info_element a {
          color: #013c95;
          text-decoration: underline; }
        .informacion_usuario .information_block .info_element p {
          color: #000000; }
        .informacion_usuario .information_block .info_element .tittle_info {
          font-size: 14px;
          font-weight: 400; }
        .informacion_usuario .information_block .info_element .value_info {
          font-size: 16px;
          font-weight: 700; } }
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out; }

.loader {
  color: #4e0195;
  font-size: 10px;
  margin: 0 auto 40px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader_red {
  color: #ef5350;
  font-size: 10px;
  margin: 0 auto 40px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0; }

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader:after {
  left: 3.5em; }

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }

/*# sourceMappingURL=app.css.map */
