@font-face
{
	font-family: 'Raleway-Black';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Raleway-Black.ttf');
	/* src: url('fonts/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/din-regular-webfont.woff2') format('woff2'),
	url('fonts/din-regular-webfont.woff') format('woff'),
	url('fonts/din-regular-webfont.ttf') format('truetype'),
	url('fonts/din-regular-webfont.svg#Raleway-Regular') format('svg'); */
}
@font-face
{
	font-family: 'Raleway-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Raleway-Bold.ttf');
}
@font-face
{
	font-family: 'Raleway-ExtraBold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Raleway-ExtraBold.ttf');
}
@font-face
{
	font-family: 'Raleway-ExtraLight';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Raleway-ExtraLight.ttf');
}
@font-face
{
	font-family: 'Raleway-Regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Raleway-Regular.ttf');
}
@font-face
{
	font-family: 'Raleway-SemiBold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Raleway-Regular.ttf');
}
@font-face
{
	font-family: 'Raleway-Thin';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Raleway-Thin.ttf');
}
@font-face
{
	font-family: 'Raleway-Medium';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Raleway-Medium.ttf');
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html { color: #fff; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight
 * Vendor-prefixed and regular ::selection selectors cannot be combined
 * Customize the background color to match your design.
 */

::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }

/* A better looking default horizontal rule*/
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers
 */
audio, canvas, iframe, img, svg, video { vertical-align: middle; }

/* Remove default fieldset styles.*/
fieldset { border: 0; margin: 0; padding: 0; }

/* Allow only vertical resizing of textareas. */
textarea { resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/* ==========================================================================
   Reset CSS
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
a{ text-decoration: none}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*, *:after, *:before { box-sizing: inherit; }
html {width: 100%;height: 100%;box-sizing: border-box;background: #000;font-family: 'Raleway-Regular'}
body {width: 100%;height: 100%;font-size: 16px; font-weight: 300; letter-spacing: .01em; line-height: 1.6; }
.flex-container {max-width:1440px;min-width:280px;margin: 0 auto;}
em{font-weight: bold;}

/* HEADER */
header {width:100%; z-index:99; position:fixed; display:block; background:rgba(0,0,0,0.0)}
header .container{margin: 0 auto;position: relative;}
#mainNav li{font-family:'Raleway-Regular';background: none;}
#mainNav a{color: #FFF; display: block;}
#mainNav a.active{text-decoration: underline;}
#mainNav a:hover{text-decoration: underline;}
#cont_logo img{width: 100%;height: auto;}

/* MOBILE MENU */
.cont_burger {width:calc(1.25rem - 20px); padding: 5px; top:25px; right:12%; cursor: pointer; position:absolute;}
.burger {width: 1.5rem; height: 4px; background: #fff; position: relative; margin: 0; top: 0; -webkit-transition: 0.3s all cubic-bezier(0, 0, 0, 1.23); transition: 0.3s all cubic-bezier(0, 0, 0, 1.23); -webkit-transform-origin: 100% 0%; transform-origin: 100% 0%; }
.burger:before { content: ''; width:1.5rem; height: 4px; background:#fff; position: relative; display: block; top: -0.6rem; -webkit-transition: 0.3s all cubic-bezier(0, 0, 0, 1.23); transition: 0.3s all cubic-bezier(0, 0, 0, 1.23); }
.burger:after { content: ''; width: 1.5rem; height: 4px; background:#fff; position: relative; display: block; top: 0.3rem; -webkit-transition: 0.3s all cubic-bezier(0, 0, 0, 1.23); transition: 0.3s all cubic-bezier(0, 0, 0, 1.23); }
.burger.active { background: rgba(255,255,255, 0);-webkit-transform: scale(1.5); transform: scale(1.5); border-radius:200%; height: 30px; width: 30px; top: -15px; left: 15px;padding-top:0; padding-left:0.16rem; -webkit-transition: 0.3s all cubic-bezier(0, 0, 0, 1.23); transition: 0.3s all cubic-bezier(0, 0, 0, 1.23); }
.burger.active:before {background: #FFF;-webkit-transform: rotate(45deg) scale(0.8); transform: rotate(45deg) scale(0.8); -webkit-transform-origin: 46% 6%; transform-origin: 46% 6%; top: 12px; opacity: 1; -webkit-transition: 0.3s all cubic-bezier(0, 0, 0, 1.23); transition: 0.3s all cubic-bezier(0, 0, 0, 1.23);}
.burger.active:after {background: #FFF;-webkit-transform: rotate(-45deg) scale(0.8); transform: rotate(-45deg) scale(0.8); -webkit-transform-origin: 26% 0%; transform-origin: 26% 0%; top:12px; opacity: 1; -webkit-transition: 0.3s all cubic-bezier(0, 0, 0, 1.23); transition: 0.3s all cubic-bezier(0, 0, 0, 1.23);}

/* INCIO */
.img_real{width: auto !important;margin: auto;}
#teaser_lasflores{overflow: hidden;}
#teaser_fotos{overflow: hidden;}
/* Header */

/* El mezcal */
#shape-container-bottom { position: relative; z-index: 0; background: #000; top: -100px; }
#shape-container-bottom #right-skew { width: 100%; height: 200px; background: #000; position: absolute; top: 0; right: 0; transform: skewY(-5deg); }
#elmezcal{position: relative;z-index: 1; padding: 0 30px;overflow: hidden;}
#elmezcal img{width: 100%;height: 120px;margin:auto;padding: 20px;}
.img_contacto_text{width: 40px !important;height: 20px !important;padding: 0 !important;}
#elmezcal p{width: 60%;margin:40px auto;padding: 20px;text-align: center;font-size: 1.438em;font-family: 'Baskerville';}
#elmezcal #cont_elmezcal{margin-top: 150px;text-align: center;}
a#scrollDown{color: #000;}
#slider_productos{padding: 0 50px;}
.detail_teaser h2{font-family: 'Baskerville';text-align: center;font-size: 1.6667em;margin:0.625em 0;}
.teaser_text{margin: 5.938em 0px;vertical-align: middle;}
.row_teaser{width: 100%;clear: both;font-family: 'Raleway-Regular';font-size: 1.250em;text-align: center;display: flex;align-items: center;}
.detail_teaser{width:50%;float: left;}
.detail_teaser img{width:100%;}
.img_producto_home{width: 65% !important;}
.text_left{text-align: left;}
.text_right{text-align: right;}
.text_header{width: 100%;padding: 10%;}

.img_header_parallax{height: auto;}
.img_cien{width: 100%;}

.success{padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
.error{padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;color: #a94442;background-color: #f2dede;border-color: #ebccd1;}

/* NOSOTROS */
.parallaxParent {height: 80vh;overflow: hidden;}
.parallaxParent > * {	height: 200%;position: relative;top: -100%;}
.txt_box_bottom {margin-top: 10%;float: right;padding-top: 0;}
.mainImage{width: 100%}
.img_contacto_text{width: 40px;height: 20px;padding: 0;}
#img_contacto{background: url(../imgs/contacto_foto.jpg)no-repeat;background-position:center;}
#img_tienda{background: url(../imgs/tienda_foto.jpg)no-repeat;background-position:center;}
#img_galeria{background: url(../imgs/galeria_header.jpg)no-repeat;background-position:center;}
#img_nosotros{background: url(../imgs/leyenda_foto.jpg)no-repeat;background-position:center;}
#img_elixir{background: url(../imgs/elixir_foto.jpg)no-repeat;background-position:center;display: flow-root;}
#img_elproceso{background: url(../imgs/elixir_foto3.jpg)no-repeat;background-position:center;}
#img_arte{background: url(../imgs/arte_foto1.jpg)no-repeat;background-position:center;display: flow-root;}
.img_backgournd h1{font-family: 'Baskerville';font-size: 7.5vw;margin: 300px 0px;letter-spacing: 0.625em;text-align: center;}
.header_texto h1{font-family: 'Baskerville';font-size: 7.5vw;margin: 200px 0px 0px 0px;letter-spacing: 0.625em;text-align: center;}
#nosotros_text{position: relative;z-index: 1; padding: 0 30px;overflow: hidden;}
#nosotros_text img{width: 100%;height: 120px;margin:auto;padding: 20px;}
#nosotros_text p{width: 60%;margin:40px auto;padding: 20px;text-align: center;font-size: 1.438em;font-family: 'Baskerville';}
#nosotros_text #cont_nosotros{margin-top: 150px;}

/* TIENDA */
.content_item{width: 31%;float: left;margin: 10px;}
.wrapper-tienda{padding: 20px;}
.table_tienda{width: 100%;}
.table_tienda thead{color: #000;background: #fff;text-align: center;}
.table_tienda td{width: 20% !important;vertical-align: middle;}
.center{text-align: center;}
.content_item a{text-decoration: none;color: #fff;}
.costo_item {position: absolute;color: #000;background: url(../imgs/flags_cost.png)no-repeat;width: 130px;height: 35px;padding: 5px 15px;background-size: 120px 32px;}
.content_item .img_item{clear: both;width: 100%;float: left;}
.content_item .img_item img{vertical-align: middle;height: 320px;width: 50%}
.content_item .img_item p{width: 100%}
.content_item .text_item{clear: both;width: 35%;float: right;}
.content_item .detalle_item{background: #fff;width: 100%;height: 360px;padding: 12px;}
.content_item .detalle_item .img_detalle{float: left;}
.content_item .detalle_item .text_detalle{float: left;color: #000;width: 70%;padding: 0px 10px;}
.blod_text{font-weight: 900;}
.inputs_detalle label{font-size: 25px;font-weight: bold;}
.tienda_izq{width: 65%;float: left;clear: both;}
.tienda_der{width: 30%;float: left;}
.tienda_der p{font-size: 12px;}
.middle{vertical-align: middle;}

#contacto_form form{padding: 0 10%;}
.form-group{clear: both;padding: 20px 0;}
.form-group label{float: left; width: 100px;}
.form-group input,.form-group textarea{float: right;background: transparent;border: 2px solid #fff;color: #fff;width: 80%;}
.form-group input{height: 30px;}
.inputs_detalle input[type=number]{width: 50px;}
.politicas_link{margin: 20px;}
.btn_form {width: 100px !important;float: right !important;}
.logo_tienda{float: left;}
.logo_tienda img{vertical-align: middle;}
.info_direccion{margin-top: 10px;}
.detalle_orden img{float: left;margin-bottom: 20px}
.detalle_orden p{float: left;margin: 20px 0 0 10px;}
.info_direccion{background: #fff;padding: 20px;color: #000;}
.footer_envio{margin-top: 20px}
.footer_envio a{text-decoration: none;color: #fff;}
.btn_envio{float: right !important;}
.btn_envio .btn_form{background: #fff !important; color: #000 !important;width: auto !important;}

/* MAYOR */
#content_mayor{background: url(../imgs/foto_mayor.jpg) no-repeat center center; background-size: cover;width: 100%;height: 100%;}
.franja_mayor{background: #000;width: 100%;height: auto;color: #fff;text-align: center;opacity: 0.7;margin-top: 33.3%;position: fixed;}
#respuestas_mayor{width: 100%;height: auto;margin-top: 40.0%;position: fixed;text-align: center;}
#respuestas_mayor img{margin: auto;cursor: pointer;}

/* GALERIA DE FOTOS */
#galeria_content{ display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.galeria_lista{-ms-flex: 25%; flex: 25%;max-width: 25%;}
.galeria_lista img{width: 98%;vertical-align: middle;border: 0px;margin: 2px 0;}
.clear{clear: both;}

/* FOOTER */
footer{line-height: normal; clear: both;}
footer .container{font-family: 'Raleway-Regular'; color: #FFF;max-width:1440px; min-width:280px; padding:30px; margin: 0 auto;display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center; align-content: stretch;}
footer .container a{color: #FFF;}
footer .container a:hover{text-decoration: underline;}
.ico_instagram{display: inline-block; vertical-align: middle; width: 30px; height: 30px; background: url('../imgs/menu_insta.png') no-repeat center center; background-size: 100%;}
.ico_fb{display: inline-block; vertical-align: middle; width: 50px; height: 50px; background: url('../imgs/menu_fb.png') no-repeat center center; background-size: 100%;}


/* IFRAME FANCYBOX */
#fancyBody{background-color: rgba(218,41,18,0.8);}
.cont_fullNews{padding: 30px;color: #FFF;}
.cont_fullNews h1{font-family:'DINPro-CondensedBold';margin-bottom: 30px;}
.img_newsSide{vertical-align: top;margin-right: 20px;border: 3px solid #000;}
.img_newsSide img{width: 100%; height: auto;float: left;}
.txt_news{vertical-align: top;font-family:'Raleway-Regular';}


.swiper-container1 { width: 100%; height: 100%; }
.swiper-slide { text-align: center; font-size: 18px; background: #fff; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
/* Swiper */
.swiper-container1, .swiper-container2 { margin: 0 auto; position: relative; overflow: hidden; list-style: none; padding: 0; /* Fix of Webkit flickering */ z-index: 1; }
.swiper-container-no-flexbox .swiper-slide { float: left; }
.swiper-container-vertical > .swiper-wrapper { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
.swiper-wrapper { position: relative; width: 100%; height: 100%; z-index: 1; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; -o-transition-property: transform; transition-property: transform; transition-property: transform, -webkit-transform; -webkit-box-sizing: content-box; box-sizing: content-box; }
.swiper-container-android .swiper-slide, .swiper-wrapper { -webkit-transform: translate3d(0px, 0, 0); transform: translate3d(0px, 0, 0); }
.swiper-container-multirow > .swiper-wrapper { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.swiper-container-free-mode > .swiper-wrapper { -webkit-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; margin: 0 auto; }
.swiper-slide { -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; width: 100%; height: 100%; position: relative; -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; -o-transition-property: transform; transition-property: transform; transition-property: transform, -webkit-transform; }
.swiper-invisible-blank-slide { visibility: hidden; }
/* Auto Height */
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide { height: auto; }
.swiper-container-autoheight .swiper-wrapper { -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; -webkit-transition-property: height, -webkit-transform; transition-property: height, -webkit-transform; -o-transition-property: transform, height; transition-property: transform, height; transition-property: transform, height, -webkit-transform; }
/* 3D Effects */
.swiper-container-3d { -webkit-perspective: 1200px; perspective: 1200px; }
.swiper-container-3d .swiper-wrapper, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-cube-shadow { -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }
.swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom { position: absolute; left: 0; top: 0; width: 100%; height: 100%; pointer-events: none; z-index: 10; }
.swiper-container-3d .swiper-slide-shadow-left { background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))); background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
.swiper-container-3d .swiper-slide-shadow-right { background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))); background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
.swiper-container-3d .swiper-slide-shadow-top { background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))); background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
.swiper-container-3d .swiper-slide-shadow-bottom { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))); background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal, .swiper-container-wp8-horizontal > .swiper-wrapper { -ms-touch-action: pan-y; touch-action: pan-y; }
.swiper-container-wp8-vertical, .swiper-container-wp8-vertical > .swiper-wrapper { -ms-touch-action: pan-x; touch-action: pan-x; }
.swiper-button-prev, .swiper-button-next { position: absolute; top: 50%; width: 27px; height: 44px; margin-top: -22px; z-index: 10; cursor: pointer; background-size: 27px 44px; background-position: center; background-repeat: no-repeat; }
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled { opacity: 0.35; cursor: auto; pointer-events: none; }
.swiper-button-prev, .swiper-container-rtl .swiper-button-next { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E"); left: 10px; right: auto; }
.swiper-button-next, .swiper-container-rtl .swiper-button-prev { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E"); right: 10px; left: auto; }
.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); background-color: rgba(0,0,0,0.1);}
.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); background-color: rgba(0,0,0,0.1);}
.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }
.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }
.swiper-button-lock { display: none; }
.swiper-pagination { position: absolute; text-align: center; -webkit-transition: 300ms opacity; -o-transition: 300ms opacity; transition: 300ms opacity; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 10; }
.swiper-pagination.swiper-pagination-hidden { opacity: 0; }
/* Common Styles */
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets { bottom: 10px; left: 0; width: 100%; }
/* Bullets */
.swiper-pagination-bullets-dynamic { overflow: hidden; font-size: 0; }
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet { -webkit-transform: scale(0.33); -ms-transform: scale(0.33); transform: scale(0.33); position: relative; }
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev { -webkit-transform: scale(0.66); -ms-transform: scale(0.66); transform: scale(0.66); }
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev { -webkit-transform: scale(0.33); -ms-transform: scale(0.33); transform: scale(0.33); }
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next { -webkit-transform: scale(0.66); -ms-transform: scale(0.66); transform: scale(0.66); }
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next { -webkit-transform: scale(0.33); -ms-transform: scale(0.33); transform: scale(0.33); }
.swiper-pagination-bullet { width: 8px; height: 8px; display: inline-block; border-radius: 100%; background: #000; opacity: 0.2; }
button.swiper-pagination-bullet { border: none; margin: 0; padding: 0; -webkit-box-shadow: none; box-shadow: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.swiper-pagination-clickable .swiper-pagination-bullet { cursor: pointer; }
.swiper-pagination-bullet-active { opacity: 1; background: #007aff; }
.swiper-container-vertical > .swiper-pagination-bullets { right: 10px; top: 50%; -webkit-transform: translate3d(0px, -50%, 0); transform: translate3d(0px, -50%, 0); }
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet { margin: 6px 0; display: block; }
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic { top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); width: 8px; }
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet { display: inline-block; -webkit-transition: 200ms top, 200ms -webkit-transform; transition: 200ms top, 200ms -webkit-transform; -o-transition: 200ms transform, 200ms top; transition: 200ms transform, 200ms top; transition: 200ms transform, 200ms top, 200ms -webkit-transform; }
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet { margin: 0 4px; }
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic { left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); white-space: nowrap; }
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet { -webkit-transition: 200ms left, 200ms -webkit-transform; transition: 200ms left, 200ms -webkit-transform; -o-transition: 200ms transform, 200ms left; transition: 200ms transform, 200ms left; transition: 200ms transform, 200ms left, 200ms -webkit-transform; }
.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet { -webkit-transition: 200ms right, 200ms -webkit-transform; transition: 200ms right, 200ms -webkit-transform; -o-transition: 200ms transform, 200ms right; transition: 200ms transform, 200ms right; transition: 200ms transform, 200ms right, 200ms -webkit-transform; }
/* Progress */
.swiper-pagination-progressbar { background: rgba(0, 0, 0, 0.25); position: absolute; }
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill { background: #007aff; position: absolute; left: 0; top: 0; width: 100%; height: 100%; -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); -webkit-transform-origin: left top; -ms-transform-origin: left top; transform-origin: left top; }
.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill { -webkit-transform-origin: right top; -ms-transform-origin: right top; transform-origin: right top; }
.swiper-container-horizontal > .swiper-pagination-progressbar { width: 100%; height: 4px; left: 0; top: 0; }
.swiper-container-vertical > .swiper-pagination-progressbar { width: 4px; height: 100%; left: 0; top: 0; }
.swiper-pagination-white .swiper-pagination-bullet-active { background: #ffffff; }
.swiper-pagination-progressbar.swiper-pagination-white { background: rgba(255, 255, 255, 0.25); }
.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill { background: #ffffff; }
.swiper-pagination-black .swiper-pagination-bullet-active { background: #000000; }
.swiper-pagination-progressbar.swiper-pagination-black { background: rgba(0, 0, 0, 0.25); }
.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill { background: #000000; }
.swiper-pagination-lock { display: none; }
/* Scrollbar */
.swiper-scrollbar { border-radius: 10px; position: relative; -ms-touch-action: none; background: rgba(0, 0, 0, 0.1); }
.swiper-container-horizontal > .swiper-scrollbar { position: absolute; left: 1%; bottom: 3px; z-index: 50; height: 5px; width: 98%; }
.swiper-container-vertical > .swiper-scrollbar { position: absolute; right: 3px; top: 1%; z-index: 50; width: 5px; height: 98%; }
.swiper-scrollbar-drag { height: 100%; width: 100%; position: relative; background: rgba(0, 0, 0, 0.5); border-radius: 10px; left: 0; top: 0; }
.swiper-scrollbar-cursor-drag { cursor: move; }
.swiper-scrollbar-lock { display: none; }
.swiper-zoom-container { width: 100%; height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; text-align: center; }
.swiper-zoom-container > img, .swiper-zoom-container > svg, .swiper-zoom-container > canvas { max-width: 100%; max-height: 100%; -o-object-fit: contain; object-fit: contain; }
.swiper-slide-zoomed { cursor: move; }
/* Preloader */
.swiper-lazy-preloader { width: 42px; height: 42px; position: absolute; left: 50%; top: 50%; margin-left: -21px; margin-top: -21px; z-index: 10; -webkit-transform-origin: 50%; -ms-transform-origin: 50%; transform-origin: 50%; -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite; animation: swiper-preloader-spin 1s steps(12, end) infinite; }
.swiper-lazy-preloader:after { display: block; content: ''; width: 100%; height: 100%; background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); background-position: 50%; background-size: 100%; background-repeat: no-repeat; }
.swiper-lazy-preloader-white:after { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }
@-webkit-keyframes swiper-preloader-spin {
 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes swiper-preloader-spin {
 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
/* a11y */
.swiper-container .swiper-notification { position: absolute; left: 0; top: 0; pointer-events: none; opacity: 0; z-index: -1000; }
.swiper-container-fade.swiper-container-free-mode .swiper-slide { -webkit-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.swiper-container-fade .swiper-slide { pointer-events: none; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; }
.swiper-container-fade .swiper-slide .swiper-slide { pointer-events: none; }
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active { pointer-events: auto; }
.swiper-container-cube { overflow: visible; }
.swiper-container-cube .swiper-slide { pointer-events: none; -webkit-backface-visibility: hidden; backface-visibility: hidden; z-index: 1; visibility: hidden; -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; width: 100%; height: 100%; }
.swiper-container-cube .swiper-slide .swiper-slide { pointer-events: none; }
.swiper-container-cube.swiper-container-rtl .swiper-slide { -webkit-transform-origin: 100% 0; -ms-transform-origin: 100% 0; transform-origin: 100% 0; }
.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active { pointer-events: auto; }
.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-prev, .swiper-container-cube .swiper-slide-next + .swiper-slide { pointer-events: auto; visibility: visible; }
.swiper-container-cube .swiper-slide-shadow-top, .swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right { z-index: 0; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.swiper-container-cube .swiper-cube-shadow { position: absolute; left: 0; bottom: 0px; width: 100%; height: 100%; background: #000; opacity: 0.6; -webkit-filter: blur(50px); filter: blur(50px); z-index: 0; }
.swiper-container-flip { overflow: visible; }
.swiper-container-flip .swiper-slide { pointer-events: none; -webkit-backface-visibility: hidden; backface-visibility: hidden; z-index: 1; }
.swiper-container-flip .swiper-slide .swiper-slide { pointer-events: none; }
.swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active { pointer-events: auto; }
.swiper-container-flip .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right { z-index: 0; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.swiper-container-coverflow .swiper-wrapper { /* Windows 8 IE 10 fix */ -ms-perspective: 1200px; }



@charset "UTF-8";
body.fancybox-active { overflow: hidden; }
body.fancybox-iosfix { position: fixed; left: 0; right: 0; }
.fancybox-is-hidden { position: absolute; top: -9999px; left: -9999px; visibility: hidden; }
.fancybox-container { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99992; -webkit-tap-highlight-color: transparent; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform: translateZ(0); transform: translateZ(0); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
.fancybox-outer, .fancybox-inner, .fancybox-bg, .fancybox-stage { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.fancybox-outer { overflow-y: auto; -webkit-overflow-scrolling: touch; }
.fancybox-bg { background: #1e1e1e; opacity: 0; transition-duration: inherit; transition-property: opacity; transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); }
.fancybox-is-open .fancybox-bg { opacity: 0.87; transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }
.fancybox-infobar, .fancybox-toolbar, .fancybox-caption-wrap { position: absolute; direction: ltr; z-index: 99997; opacity: 0; visibility: hidden; transition: opacity .25s, visibility 0s linear .25s; box-sizing: border-box; }
.fancybox-show-infobar .fancybox-infobar, .fancybox-show-toolbar .fancybox-toolbar, .fancybox-show-caption .fancybox-caption-wrap { opacity: 1; visibility: visible; transition: opacity .25s, visibility 0s; }
.fancybox-infobar { top: 0; left: 0; font-size: 13px; padding: 0 10px; height: 44px; min-width: 44px; line-height: 44px; color: #ccc; text-align: center; pointer-events: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; -webkit-font-smoothing: subpixel-antialiased; mix-blend-mode: exclusion; }
.fancybox-toolbar { top: 0; right: 0; margin: 0; padding: 0; }
.fancybox-stage { overflow: hidden; direction: ltr; z-index: 99994; -webkit-transform: translate3d(0, 0, 0); }
.fancybox-is-closing .fancybox-stage { overflow: visible; }
.fancybox-slide { position: absolute; top: 0; left: 0; width: 100%; height: 100%; margin: 0; padding: 0; overflow: auto; outline: none; white-space: normal; box-sizing: border-box; text-align: center; z-index: 99994; -webkit-overflow-scrolling: touch; display: none; -webkit-backface-visibility: hidden; backface-visibility: hidden; transition-property: opacity, -webkit-transform; transition-property: transform, opacity; transition-property: transform, opacity, -webkit-transform; }
.fancybox-slide::before { content: ''; display: inline-block; vertical-align: middle; height: 100%; width: 0; }
.fancybox-is-sliding .fancybox-slide, .fancybox-slide--previous, .fancybox-slide--current, .fancybox-slide--next { display: block; }
.fancybox-slide--image { overflow: visible; }
.fancybox-slide--image::before { display: none; }
.fancybox-slide--video .fancybox-content, .fancybox-slide--video iframe { background: #000; }
.fancybox-slide--map .fancybox-content, .fancybox-slide--map iframe { background: #E5E3DF; }
.fancybox-slide--next { z-index: 99995; }
.fancybox-slide > * { display: inline-block; position: relative; padding: 24px; margin: 44px 0 44px; border-width: 0; vertical-align: middle; text-align: left; background-color: #fff; overflow: auto; box-sizing: border-box; }
.fancybox-slide > title, .fancybox-slide > style, .fancybox-slide > meta, .fancybox-slide > link, .fancybox-slide > script, .fancybox-slide > base { display: none; }
.fancybox-slide .fancybox-image-wrap { position: absolute; top: 0; left: 0; margin: 0; padding: 0; border: 0; z-index: 99995; background: transparent; cursor: default; overflow: visible; -webkit-transform-origin: top left; -ms-transform-origin: top left; transform-origin: top left; background-size: 100% 100%; background-repeat: no-repeat; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; transition-property: opacity, -webkit-transform; transition-property: transform, opacity; transition-property: transform, opacity, -webkit-transform; }
.fancybox-can-zoomOut .fancybox-image-wrap { cursor: -webkit-zoom-out; cursor: zoom-out; }
.fancybox-can-zoomIn .fancybox-image-wrap { cursor: -webkit-zoom-in; cursor: zoom-in; }
.fancybox-can-drag .fancybox-image-wrap { cursor: -webkit-grab; cursor: grab; }
.fancybox-is-dragging .fancybox-image-wrap { cursor: -webkit-grabbing; cursor: grabbing; }
.fancybox-image, .fancybox-spaceball { position: absolute; top: 0; left: 0; width: 100%; height: 100%; margin: 0; padding: 0; border: 0; max-width: none; max-height: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.fancybox-spaceball { z-index: 1; }
.fancybox-slide--iframe .fancybox-content { padding: 0; width: 80%; height: 80%; max-width: calc(100% - 100px); max-height: calc(100% - 88px); overflow: visible; background: #fff; }
.fancybox-iframe { display: block; margin: 0; padding: 0; border: 0; width: 100%; height: 100%; background: #fff; }
.fancybox-error { margin: 0; padding: 40px; width: 100%; max-width: 380px; background: #fff; cursor: default; }
.fancybox-error p { margin: 0; padding: 0; color: #444; font-size: 16px; line-height: 20px; }

/* Buttons */
.fancybox-button { box-sizing: border-box; display: inline-block; vertical-align: top; width: 44px; height: 44px; margin: 0; padding: 10px; border: 0; border-radius: 0; background: rgba(30, 30, 30, 0.6); transition: color .3s ease; cursor: pointer; outline: none; }
.fancybox-button, .fancybox-button:visited, .fancybox-button:link { color: #ccc; }
.fancybox-button:focus, .fancybox-button:hover { color: #fff; }
.fancybox-button[disabled] { color: #ccc; cursor: default; opacity: 0.6; }
.fancybox-button svg { display: block; position: relative; overflow: visible; shape-rendering: geometricPrecision; }
.fancybox-button svg path { fill: currentColor; stroke: currentColor; stroke-linejoin: round; stroke-width: 3; }
.fancybox-button--share svg path { stroke-width: 1; }
.fancybox-button--play svg path:nth-child(2) { display: none; }
.fancybox-button--pause svg path:nth-child(1) { display: none; }
.fancybox-button--zoom svg path { fill: transparent; }

/* Navigation arrows */
.fancybox-navigation {
  display: none; }

.fancybox-show-nav .fancybox-navigation {
  display: block; }

.fancybox-navigation button {
  position: absolute;
  top: 50%;
  margin: -50px 0 0 0;
  z-index: 99997;
  background: transparent;
  width: 60px;
  height: 100px;
  padding: 17px; }

.fancybox-navigation button:before {
  content: "";
  position: absolute;
  top: 30px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: rgba(30, 30, 30, 0.6); }

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0; }

.fancybox-navigation .fancybox-button--arrow_right {
  right: 0; }

/* Close button on the top right corner of html content */
.fancybox-close-small {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  z-index: 10;
  cursor: pointer; }

.fancybox-close-small:after {
  content: '×';
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  font: 22px/30px Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #888;
  font-weight: 300;
  text-align: center;
  border-radius: 50%;
  border-width: 0;
  background-color: transparent;
  transition: background-color .25s;
  box-sizing: border-box;
  z-index: 2; }

.fancybox-close-small:focus {
  outline: none; }

.fancybox-close-small:focus:after {
  outline: 1px dotted #888; }

.fancybox-close-small:hover:after {
  color: #555;
  background: #eee; }

.fancybox-slide--image .fancybox-close-small,
.fancybox-slide--iframe .fancybox-close-small {
  top: 0;
  right: -40px; }

.fancybox-slide--image .fancybox-close-small:after,
.fancybox-slide--iframe .fancybox-close-small:after {
  font-size: 35px;
  color: #aaa; }

.fancybox-slide--image .fancybox-close-small:hover:after,
.fancybox-slide--iframe .fancybox-close-small:hover:after {
  color: #fff;
  background: transparent; }

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-drag .fancybox-close-small {
  display: none; }

/* Caption */
.fancybox-caption-wrap {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px 2vw 0 2vw;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 100%);
  pointer-events: none; }

.fancybox-caption {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  color: #fff;
  line-height: 20px;
  -webkit-text-size-adjust: none; text-align: center;}

.fancybox-caption a,
.fancybox-caption button,
.fancybox-caption select {
  pointer-events: all;
  position: relative;
  /* Fix IE11 */ }

.fancybox-caption a {
  color: #fff;
  text-decoration: underline; }

/* Loading indicator */
.fancybox-slide > .fancybox-loading {
  border: 6px solid rgba(100, 100, 100, 0.4);
  border-top: 6px solid rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: fancybox-rotate .8s infinite linear;
  animation: fancybox-rotate .8s infinite linear;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  z-index: 99999; }

@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

/* Transition effects */
.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1); }

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 0; }

.fancybox-fx-slide.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  opacity: 0; }

.fancybox-fx-slide.fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1; }

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1; }

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous { -webkit-transform: scale3d(1.5, 1.5, 1.5); transform: scale3d(1.5, 1.5, 1.5); opacity: 0; }
.fancybox-fx-zoom-in-out.fancybox-slide--next { -webkit-transform: scale3d(0.5, 0.5, 0.5); transform: scale3d(0.5, 0.5, 0.5); opacity: 0; }
.fancybox-fx-zoom-in-out.fancybox-slide--current { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); opacity: 1; }

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous { -webkit-transform: rotate(-360deg); -ms-transform: rotate(-360deg); transform: rotate(-360deg); opacity: 0; }
.fancybox-fx-rotate.fancybox-slide--next { -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); opacity: 0; }
.fancybox-fx-rotate.fancybox-slide--current { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); opacity: 1; }

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous { -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); opacity: 0; }
.fancybox-fx-circular.fancybox-slide--next { -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); opacity: 0; }
.fancybox-fx-circular.fancybox-slide--current { -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0); transform: scale3d(1, 1, 1) translate3d(0, 0, 0); opacity: 1; }

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous { -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); }
.fancybox-fx-tube.fancybox-slide--next { -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); }
.fancybox-fx-tube.fancybox-slide--current { -webkit-transform: translate3d(0, 0, 0) scale(1); transform: translate3d(0, 0, 0) scale(1); }

/* Share */
.fancybox-share { padding: 30px; border-radius: 3px; background: #f4f4f4; max-width: 90%; text-align: center; }
.fancybox-share h1 { color: #222; margin: 0 0 20px 0; font-size: 35px; font-weight: 700; }
.fancybox-share p { margin: 0; padding: 0; }
p.fancybox-share__links { margin-right: -10px; }
.fancybox-share__button { display: inline-block; text-decoration: none; margin: 0 10px 10px 0; padding: 0 15px; min-width: 130px; border: 0; border-radius: 3px; background: #fff; white-space: nowrap; font-size: 14px; font-weight: 700; line-height: 40px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; color: #fff; transition: all .2s; }
.fancybox-share__button:hover { text-decoration: none; }
.fancybox-share__button--fb { background: #3b5998; }
.fancybox-share__button--fb:hover { background: #344e86; }
.fancybox-share__button--pt { background: #bd081d; }
.fancybox-share__button--pt:hover { background: #aa0719; }
.fancybox-share__button--tw { background: #1da1f2; }
.fancybox-share__button--tw:hover { background: #0d95e8; }
.fancybox-share__button svg { position: relative; top: -1px; width: 25px; height: 25px; margin-right: 7px; vertical-align: middle; }
.fancybox-share__button svg path { fill: #fff; }
.fancybox-share__input { box-sizing: border-box; width: 100%; margin: 10px 0 0 0; padding: 10px 15px; background: transparent; color: #5d5b5b; font-size: 14px; outline: none; border: 0; border-bottom: 2px solid #d7d7d7; }

/* Thumbs */
.fancybox-thumbs { display: none; position: absolute; top: 0; bottom: 0; right: 0; width: 212px; margin: 0; padding: 2px 2px 4px 2px; background: #fff; -webkit-tap-highlight-color: transparent; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar; box-sizing: border-box; z-index: 99995; }
.fancybox-thumbs-x { overflow-y: hidden; overflow-x: auto; }
.fancybox-show-thumbs .fancybox-thumbs { display: block; }
.fancybox-show-thumbs .fancybox-inner { right: 212px; }
.fancybox-thumbs > ul { list-style: none; position: absolute; position: relative; width: 100%; height: 100%; margin: 0; padding: 0; overflow-x: hidden; overflow-y: auto; font-size: 0; white-space: nowrap; }
.fancybox-thumbs-x > ul { overflow: hidden; }
.fancybox-thumbs-y > ul::-webkit-scrollbar { width: 7px; }
.fancybox-thumbs-y > ul::-webkit-scrollbar-track { background: #fff; border-radius: 10px; box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
.fancybox-thumbs-y > ul::-webkit-scrollbar-thumb { background: #2a2a2a; border-radius: 10px; }
.fancybox-thumbs > ul > li { float: left; overflow: hidden; padding: 0; margin: 2px; width: 100px; height: 75px; max-width: calc(50% - 4px); max-height: calc(100% - 8px); position: relative; cursor: pointer; outline: none; -webkit-tap-highlight-color: transparent; -webkit-backface-visibility: hidden; backface-visibility: hidden; box-sizing: border-box; }
li.fancybox-thumbs-loading { background: rgba(0, 0, 0, 0.1); }
.fancybox-thumbs > ul > li > img { position: absolute; top: 0; left: 0; max-width: none; max-height: none; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.fancybox-thumbs > ul > li:before { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; border: 4px solid #4ea7f9; z-index: 99991; opacity: 0; transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
.fancybox-thumbs > ul > li.fancybox-thumbs-active:before { opacity: 1; }

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .fancybox-thumbs {
    width: 110px; }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px; }
  .fancybox-thumbs > ul > li {
    max-width: calc(100% - 10px); } }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */
.hidden { display: none !important; }

/*
 * Hide only visually, but have it available for screen readers
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); -webkit-clip-path: inset(50%); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; white-space: nowrap; /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; -webkit-clip-path: none; clip-path: none; height: auto; margin: 0; overflow: visible; position: static; width: auto; white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible { visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after { content: " "; /* 1 */ display: table; /* 2 */ }
.clearfix:after { clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

	 @media only screen and (min-width: 17.5em) {
		 header .container{max-width:1440px; min-width:280px; padding: 10px 30px;display: block;flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center; align-content: stretch;}
		 #mainNav{display: none;font-size: 10vw;background:rgba(0,0,0,0.0);position: absolute;padding: 20px;width:calc(96% - 40px);top: 10vh;left: 0;right: 0;margin: 0 auto;text-align: center;}
		 #mainNav li{display: list-item;margin-left: 0;}
		 #mainNav a{padding: 2px 40px;}
		 #mainNav a.active{text-decoration: underline;}
		 #cont_logo{width: 100px;}
		 /* .form-group input,.form-group textarea{width: 20%;} */
		 /* MOBILE MENU */
		 .cont_burger {display: block;}

		 /* INCIO */
		 #inicio{max-width: 1440px;min-width: 280px;}
		 #elmezcal img{width: 100%;margin:auto;padding: 20px;}
		 .img_contacto_text{width: 40px !important;height: 20px !important;padding: 0 !important;}
		 #cont_slider{width: 100%;height: 72vh;}
		 .img_auto{bottom: 10vh;width: 94%;}
		 .txt_banner{top: 20vh;right: 0;padding: 0 20px;}
		 .txt_banner h2{font-size: 9vw;margin-bottom: 20px;}
		 .btn_conoceMas{font-size: 6vw;padding: 8px 20px 10px 20px;}
		 .btn_conoceMas span{width: 23px; height: 23px; margin-left: 10px;}
		 .bg_redBann{border-width: 0px 55vw 100vh 30vw;}
		 #scrollDown{width:30px; height:40px;bottom:40px;}

		 /* VIDEO */
		 #shape-container {top: -20px;}
		 #shape-container #left-skew { width: 100%; height: 200px; }
		 #shape-container #right-skew { width: 100%; height: 200px; }
		 #shape-container-bottom { top: -100px; }
		 #shape-container-bottom #right-skew { width: 100%; height: 200px;}
		 #elmezcal{padding: 0 30px;}
		 #elmezcal h2{font-size: 15vw;}
		 #cont_videosSlide{width: 100%;height: 50vh;}
		 .swiper-container2 {width: 100%; height: 300px;}
		 #cont_videosSlide .swiper-slide a{background-size: 50%;}
		 #cont_videosSlide .gallery-top {height: 80%; width: 100%;}
		 #cont_videosSlide .gallery-thumbs {height: 20%; padding: 10px 0;}
		 #cont_videosSlide .gallery-thumbs .swiper-slide {width: 25%; height: 100%;}
		 #cont_txtVideo{width: 100%;margin-left: 0%;}
		 #cont_txtVideo h4{font-size: 7vw;margin-bottom: 20px;}
		 #list_videoGalery {font-size:6vw;}
		 #list_videoGalery .active a::before{top: 3px; left: -25px;width: 20px;height: 20px;}

		 /* GALERIA DE FOTOS */
		 .galeria_lista {-ms-flex: 100%;flex: 100%;max-width: 100%;}

		 /* TEASERS */
		 #cont_teasers{margin-bottom: 50px;display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: stretch;}
		 #cont_teasers a{width: 100%; margin-left: 0%;}
		 #cont_teasers a:nth-child(3n+1){margin-left: 0;}
		 #cont_teasers a img{width: 100%; height: auto;}

		 /* FOOTER */
		 footer .container{max-width:1440px; min-width:280px; padding:30px;display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-between; align-items: center; align-content: stretch;}
		 footer .container a:hover{text-decoration: underline;}
		 .infoR{text-align: center;width: 100%;}
		 .infoR em{text-decoration: underline;margin: 0.500em 0em;font-size: 1.250em;}
		 .infoR ul{display: inline;width: 50%;margin: 0.500em 0em;font-size: 1.250em;}
		 .infoR ul li{display: inline;margin: 0em 1.250em;}
		 .ico_instagram{width: 50px; height: 50px;}
		 .ico_fb{width: 50px; height: 50px;}

		 /* FANCYBOX */
		 .cont_fullNews h1{font-size: 2.6vw;margin-bottom: 30px;}
		 .img_newsSide{display: block;width: auto;margin-right: 20px;}
		 .txt_news{display:block; width:auto; font-size:1.25rem;}
	 }

	 @media only screen and (min-width: 35em) {
		 header .container{max-width:1440px; min-width:280px; padding: 10px 30px;display: flex;flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center; align-content: stretch;}
		 #mainNav{display: block;font-size: 1.125rem;position: relative;padding: 0;width:auto;top: inherit;left: inherit;right: inherit;margin:0;text-align: right;}
		 #mainNav li{display: inline-block;margin-left: 10px;}
		 #mainNav a{padding: 2px 5px;}
		 #mainNav a.active{text-decoration: underline;}
		 #cont_logo{width: 100px;}
		 .form-group input,.form-group textarea{width: 60%;}
		 /* MOBILE MENU */
		 .cont_burger {display: none;}

		 /* INCIO */
		 #inicio{max-width: 1440px;min-width: 280px;}
		 #cont_slider{width: 100%;height: 80vh;}
		 .img_auto{bottom: 10vh;width: 84%;}
		 .txt_banner{top: 14vh;right: 0;padding: 0 30px;}
		 .txt_banner h2{font-size: 7.375vw;margin-bottom: 30px;}
		 .btn_conoceMas{font-size: 3vw;padding: 8px 20px 10px 20px;}
		 .btn_conoceMas span{width: 23px; height: 23px; margin-left: 10px;}
		 .bg_redBann{border-width: 0px 45vw 100vh 24vw;}
		 #scrollDown{width:30px; height:40px;bottom:40px;}

		 /* VIDEO */
		 #shape-container {top: -20px;}
		 #shape-container #left-skew { width: 100%; height: 200px; }
		 #shape-container #right-skew { width: 100%; height: 200px; }
		 #shape-container-bottom { top: -100px; }
		 #shape-container-bottom #right-skew { width: 100%; height: 200px;}
		 #elmezcal{background:url(../img/bg_taire.png) no-repeat 80% 90% #000;padding: 0 30px;}
		 #elmezcal h2{font-size: 10vw;}
		 #cont_videosSlide{width: 100%;height: 50vh;}
		 .swiper-container2 {width: 100%; height: 300px;}
		 #cont_videosSlide .swiper-slide a{background-size: 30%;}
		 #cont_videosSlide .gallery-top {height: 80%; width: 100%;}
		 #cont_videosSlide .gallery-thumbs {height: 20%; padding: 10px 0;}
		 #cont_videosSlide .gallery-thumbs .swiper-slide {width: 25%; height: 100%;}
		 #cont_txtVideo{width: 100%;margin-left: 0%;}
		 #cont_txtVideo h4{font-size: 4.625vw;margin-bottom: 20px;}
		 #list_videoGalery {font-size:4vw;}
		 #list_videoGalery .active a::before{top: 3px; left: -25px;width: 20px;height: 20px;}

		 /* GALERIA DE FOTOS */
		 .galeria_lista {-ms-flex: 50%;flex: 50%;max-width: 50%;}

		 /* TEASERS */
		 #cont_teasers{margin-bottom: 50px;display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: stretch;}
		 #cont_teasers a{width: 32.28358208955224%; margin-left: 1.4925373134328357%;}
		 #cont_teasers a:nth-child(3n+1){margin-left: 0;}
		 #cont_teasers a img{width: 100%; height: auto;}

		 /* FOOTER */
		 footer .container{max-width:1440px; min-width:280px; padding:30px;display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center; align-content: stretch;}
		 footer .container a:hover{text-decoration: underline;}
		 .ico_instagram{width: 50px; height: 50px;}
		 .ico_fb{width: 50px; height: 50px;}

		 /* FANCYBOX */
		 .cont_fullNews h1{font-size: 2.6vw;margin-bottom: 30px;}
		 .img_newsSide{display: inline-block;width: 40%;margin-right: 20px;}
		 .txt_news{display:inline-block; width:50%; font-size:1.25rem;}
	 }

	 @media only screen and (min-width: 48.0625em) {
		 header .container{max-width:1440px; min-width:280px; padding: 10px 30px;display: flex;flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center; align-content: stretch;}
		 #mainNav{display: block;font-size: 1.375em;position: relative;padding: 0;width:auto;top: inherit;left: inherit;right: inherit;margin:0;text-align: right;}
		 #mainNav li{display: inline-block;margin-left: 10px;}
		 #mainNav a{padding: 2px 5px;}
		 #mainNav a.active{text-decoration: underline;}
		 #cont_logo{width: 100px;}
		 .form-group input,.form-group textarea{width: 70%;}
		 /* MOBILE MENU */
		 .cont_burger {display: none;}

		 /* INCIO */
		 #inicio{max-width: 1440px;min-width: 280px;}
		 #cont_slider{width: 100%;height: 100vh;}
		 .img_auto{bottom: 10vh;width: 66%;}
		 .txt_banner{top: 16vh;right: 0;padding: 0 30px;}
		 .txt_banner h2{font-size: 5.375vw;margin-bottom: 30px;}
		 .btn_conoceMas{font-size: 2.125vw;padding: 8px 20px 10px 20px;}
		 .btn_conoceMas span{width: 23px; height: 23px; margin-left: 10px;}
		 .bg_redBann{border-width: 0px 31vw 100vh 24vw;}
		 #scrollDown{width:40px; height:60px;bottom:30px;}

		 /* VIDEO */
		 #shape-container {top: -20px;}
		 #shape-container #left-skew { width: 100%; height: 200px; }
		 #shape-container #right-skew { width: 100%; height: 200px; }
		 #shape-container-bottom { top: -100px; }
		 #shape-container-bottom #right-skew { width: 100%; height: 200px;}
		 #elmezcal{background:url(../img/bg_taire.png) no-repeat 60% 80% #000;padding: 0 30px;}
		 #elmezcal h2{font-size: 7.5vw;}
		 #cont_videosSlide{width: 50%;height: 50vh;}
		 .swiper-container2 {width: 100%; height: 300px;}
		 #cont_videosSlide .swiper-slide a{background-size: 30%;}
		 #cont_videosSlide .gallery-top {height: 80%; width: 100%;}
		 #cont_videosSlide .gallery-thumbs {height: 20%; padding: 10px 0;}
		 #cont_videosSlide .gallery-thumbs .swiper-slide {width: 25%; height: 100%;}
		 #cont_txtVideo{width: 40%;margin-left: 3%;}
		 #cont_txtVideo h4{font-size: 2.625vw;margin-bottom: 20px;}
		 #list_videoGalery {font-size:2vw;}
		 #list_videoGalery .active a::before{top: 3px; left: -25px;width: 20px;height: 20px;}

		 /* GALERIA DE FOTOS */
		 .galeria_lista {-ms-flex: 33.3%;flex: 33.3%;max-width: 33.3%;}

		 /* TEASERS */
		 #cont_teasers{margin-bottom: 50px;display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: stretch;}
		 #cont_teasers a{width: 32.28358208955224%; margin-left: 1.4925373134328357%;}
		 #cont_teasers a:nth-child(3n+1){margin-left: 0;}
		 #cont_teasers a img{width: 100%; height: auto;}

		 /* FOOTER */
		 footer .container{max-width:1440px; min-width:280px; padding:30px;display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center; align-content: stretch;}
		 footer .container a:hover{text-decoration: underline;}
		 .ico_instagram{width: 50px; height: 50px;}
		 .ico_fb{width: 50px; height: 50px;}

		 /* FANCYBOX */
		 .cont_fullNews h1{font-size: 2.6vw;margin-bottom: 30px;}
		 .img_newsSide{display: inline-block;width: 40%;margin-right: 20px;}
		 .txt_news{display:inline-block; width:50%; font-size:1.25rem;}
	 }

	 @media only screen and (min-width: 64.0625em) {
		 /* HEADER */
		 header .container{max-width:1440px; min-width:280px; padding: 10px 30px;display: flex;flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center; align-content: stretch;}
		 #mainNav{display: block;font-size: 1.375em;position: relative;padding: 0;width:auto;top: inherit;left: inherit;right: inherit;margin:0;text-align: right;}
		 #mainNav li{display: inline-block;margin-left: 10px;}
		 #mainNav a{padding: 2px 25px;}
		 #mainNav a.active{text-decoration: underline;}
		 #cont_logo{width: 100px;}
		 .form-group input,.form-group textarea{width: 75%;}
		 /* MOBILE MENU */
		 .cont_burger {display: none;}

		 /* INCIO */
		 #inicio{max-width: 1440px;min-width: 280px;}
		 #cont_slider{width: 100%;height: 72vh;}
		 .img_auto{bottom: 10vh;width: 66%;}
		 .txt_banner{top: 16vh;right: 0;padding: 0 30px;}
		 .txt_banner h2{font-size: 5.375vw;margin-bottom: 30px;}
		 .btn_conoceMas{font-size: 1.25rem;padding: 8px 20px 10px 20px;}
		 .btn_conoceMas span{width: 23px; height: 23px; margin-left: 10px;}
		 .bg_redBann{border-width: 0px 31vw 100vh 24vw;}
		 #scrollDown{width:40px; height:60px;bottom:30px;}

		 /* VIDEO */
		 #shape-container {top: -20px;}
		 #shape-container #left-skew { width: 100%; height: 200px; }
		 #shape-container #right-skew { width: 100%; height: 200px; }
		 #shape-container-bottom { top: -100px; }
		 #shape-container-bottom #right-skew { width: 100%; height: 200px;}
		 #elmezcal{background:url(../img/bg_taire.png) no-repeat 60% 80% #000;padding: 0 30px;}
		 #elmezcal h2{font-size: 7.5vw;}
		 #cont_videosSlide{width: 50%;height: 50vh;}
		 .swiper-container2 {width: 100%; height: 300px;}
		 #cont_videosSlide .swiper-slide a{background-size: 20%;}
		 #cont_videosSlide .gallery-top {height: 80%; width: 100%;}
		 #cont_videosSlide .gallery-thumbs {height: 20%; padding: 10px 0;}
		 #cont_videosSlide .gallery-thumbs .swiper-slide {width: 25%; height: 100%;}
		 #cont_txtVideo{width: 40%;margin-left: 3%;}
		 #cont_txtVideo h4{font-size: 1.625vw;margin-bottom: 20px;}
		 #list_videoGalery {font-size:1.375vw;}
		 #list_videoGalery .active a::before{top: 3px; left: -25px;width: 20px;height: 20px;}

		 /* GALERIA DE FOTOS */
		 .galeria_lista {-ms-flex: 25%;flex: 25%;max-width: 25%;}

		 /* TEASERS */
		 #cont_teasers{margin-bottom: 50px;display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: stretch;}
		 #cont_teasers a{width: 32.28358208955224%; margin-left: 1.4925373134328357%;}
		 #cont_teasers a:nth-child(3n+1){margin-left: 0;}
		 #cont_teasers a img{width: 100%; height: auto;}

		 /* FOOTER */
		 footer .container{max-width:1440px; min-width:280px; padding:30px;display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center; align-content: stretch;}
		 footer .container a:hover{text-decoration: underline;}
		 .ico_instagram{width: 50px; height: 50px;}
		 .ico_fb{width: 50px; height: 50px;}

		 /* FANCYBOX */
		 .cont_fullNews h1{font-size: 2.6vw;margin-bottom: 30px;}
		 .img_newsSide{display: inline-block;width: 40%;margin-right: 20px;}
		 .txt_news{display:inline-block; width:50%; font-size:1.25rem;}
	 }

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request
   ========================================================================== */

@media print {
    *, *:before, *:after { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }
    pre { white-space: pre-wrap !important; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

    /* Printing Tables */

    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}
