.button_pink {
  padding: 10px 15px;
  border-radius: 30px;
  background-color: $color_pink;
  color: $color_white;
  border: 1px solid $color_pink;

  &:focus,
  &:hover {
    color: $color_white;
    background-color: $color_pink_hover;
    border: 1px solid $color_pink_hover;
  }
}

.button_purple {
  padding: 10px 15px;
  border-radius: 30px;
  background-color: $color_purple;
  color: $color_white;
  border: 1px solid $color_purple;

  &:focus,
  &:hover {
    color: $color_white;
    background-color: $color_purple_hover;
    border: 1px solid $color_purple_hover;
  }
}

.button_purple_shop {
  padding: 10px 15px;
  background-color: $color_purple;
  color: $color_white;
  border: 1px solid $color_purple;

  &:focus,
  &:hover {
    color: $color_white;
    background-color: $color_purple_hover;
    border: 1px solid $color_purple_hover;
  }
}
