$color_card:#eeeeee;
$color_card_tittle:#5f5f5f;
$color_dark:#000000;
$color_descrip_short:#333333;
$color_gray:#666666;
$color_gray_hover:#444444;
$color_link:#013c95;
$color_pink:#b50263;
$color_pink_hover:#88004a;
$color_pink_ligth:#e3bfd2;
$color_purple:#4e0195;
$color_purple_hover:#3a006f;
$color_white:#ffffff;
