.navbar_site {
  font-size: 18px;
  background-color: $color_dark;
  height: 55px;

  li {
    display: flex;
    align-items: center;
    width: 145px;
  }

  a {
    color: $color_white!important;
    margin: 0 auto;
    display: table;
  }

  img {
    margin: 0 auto;
    display: table;
  }

  .tiny_logo {
    img {
      position: absolute;
      top: 5%;
      left: 0;
      right: 0;
    }
  }

  .display_none {
    display: none;
  }

  .display_block {
    display: block;
  }

  .mobile {
    display: none;
  }

  i {
    font-size: 22px;
    align-items: center;
  }

  .badge {
    border-radius: 20px;
    padding: 6px 9px;
    background-color: $color_pink;
    color: white;
  }
}
.align_center{
  align-items: center;
}


.ele_center {
  margin: 0 auto;
  display: table;
}

.m0{
  margin: 0;
}

.m1r{
  margin: 1rem 0;
}

.p1r {
  padding: 1rem 0;
}

.pb2r {
  padding-bottom: 2rem;
}

.line_black {
  height: 1px;
  background-color: $color_dark;
  margin: 12px 0;
}

.footer_temp {
  text-align: center;
  background-color: $color_dark;
  padding: 17px 15px;
  color: $color_white;

  p {
    color: $color_white;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar_site {
    font-size: 16px;

    li {
      width: 135px;
    }
  }
}
@media only screen and (max-width: 991px) {
  .navbar_site {
    height: auto;
    .mobile {
      display: block;
    }

    .tiny_logo {
      display: none;
    }

    li {
      display: block;
      width: auto;
      padding: 3px 0;
    }

    img {
      position: inherit;
    }

    .navbar-toggler {
      position: absolute;
      top: 35%;
    }
  }
  .fixed-top{
    position: relative;
  }
}
@media only screen and (max-width: 768px) {
  .navbar_site {
    li {
      display: block;
      width: auto;
      padding: 3px 0;
    }

    li .scroll_down {
      display: none;
    }
  }
}
