.banner_home_div {
  background-color: $color_dark;

  .banner_home {
    background: url("../imgs/banner_home.jpg");
    background-size: cover;
    height: 90vh;

    img {
      margin: 0 auto;
      display: table;
      padding: 2rem 0;
      width: 20%;
    }

    p {
      font-size: 50px;
      line-height: 50px;
      color: $color_white;
      text-align: center;
      width: 50%;
      margin: 0 auto;
      padding: 3% 0;
    }
  }
}

.info_home_div {
  background: linear-gradient(to right,#2b0a59, #630752 , #cb0245);

  .info_home {
    background: url("../imgs/info_home.jpg") center;
    background-size: cover;
    height: 75vh;

    p {
      font-size: 60px;
      line-height: 60px;
      color: #ffffff;
      text-align: center;
      width: 45%;
      padding: 10% 3%;
      margin: 0;
    }
  }
}

.exc_imgs {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.exclusive_home_div {
  .row {
    margin: 0;
  }

  p {
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    margin: 0;
  }

  .exc_img_1 {
    background: url("../imgs/exclusivo1.jpg") center;
    background-size: cover;
    @extend .exc_imgs;
  }

  .exc_img_2 {
    background: url("../imgs/exclusivo2.jpg") center;
    background-size: cover;
    @extend .exc_imgs;
  }

  .exc_img_3 {
    background: url("../imgs/exclusivo3.jpg") center;
    background-size: cover;
    @extend .exc_imgs;
  }

  .exc_img_4 {
    background: url("../imgs/exclusivo4.jpg") center;
    background-size: cover;
    @extend .exc_imgs;
  }
}

.app_home_div {
  background: url("../imgs/app_home.jpg") center;
  background-size: cover;

  .app_home {
    background: #1919193d;
    height: 90vh;

    .tittle {
      font-size: 60px;
      color: #ffffff;
      text-align: center;
      margin: 3rem 0;
      padding: 0;
    }

    p {
      font-size: 22px;
      color: #ffffff;
      margin: 0;
      line-height: normal;
      padding-bottom: 2rem;
      font-weight: 300;
    }

    .phone_image,
    .store_image {
      @extend .ele_center;
      width: 100%;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .banner_home_div {
    .banner_home {
      img {
        width: 25%;
      }

      p {
        width: 60%;
        font-size: 45px;
        line-height: 45px;
      }
    }
  }

  .info_home_div {
    .info_home {
      p {
        font-size: 50px;
        line-height: 50px;
        width: 55%;
      }
    }
  }

  .exclusive_home_div {
    p {
      font-size: 25px;
      line-height: 25px;
    }

    .exc_imgs {
      height: 30vh;
    }
  }

  .app_home_div {
    .app_home {
      height: 75vh;

      .tittle {
        font-size: 50px;
        margin: 2rem 0;
      }

      p {
        font-size: 20px;
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .banner_home_div {
    .banner_home {
      height: 60vh;

      img {
        padding: 6rem 0 3rem;
      }

      p {
        width: 80%;
      }
    }
  }

  .info_home_div {
    .info_home {
      height: 55vh;

      p {
        font-size: 45px;
        line-height: 40px;
        width: 65%;
      }
    }
  }

  .app_home_div {
    .app_home {
      height: auto;

      .tittle {
        font-size: 40px;
      }

      p {
        font-size: 17px;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .banner_home_div {
    .banner_home {
      p {
        font-size: 38px;
        line-height: 35px;
      }
    }
  }

  .info_home_div {
    .info_home {
      p {
        font-size: 35px;
        line-height: 35px;
      }
    }
  }

  .exclusive_home_div {
    p {
      font-size: 22px;
      line-height: 25px;
    }
  }

  .app_home_div {
    .app_home {
      .store_image{
        width: 70%;
      }
      .phone_image{
        width: 40%;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .banner_home_div {
    .banner_home {
      img {
        width: 40%;
        padding: 7rem 0 3rem;
      }

      p {
        width: 100%;
        font-size: 35px;
        line-height: 35px;
      }
    }
  }

  .info_home_div {
    .info_home {
      height: 45vh;

      p {
        width: 75%;
      }
    }
  }

  .exclusive_home_div {
    p {
      font-size: 33px;
      line-height: 25px;
    }

    .exc_imgs {
      height: 25vh;
    }
  }

  .app_home_div {
    .app_home {
      p {
        font-size: 18px;
      }
      .store_image{
        width: 100%;
      }
      .phone_image{
        width: 50%;
      }
    }
  }
}
