.product_detail {
  padding: 8% 2%;

  .row {
    margin: 0;

    .img_product {
      .carousel-indicators {
        bottom: -5%;

        li {
          background-color: $color_pink_ligth;
          border-radius: 20px;
          width: 10px;
          height: 10px;
        }

        .active {
          background-color: $color_pink;
        }
      }

      .card {
        background-color: $color_card;
        box-shadow: none;
      }

      img {
        width: 100%;
      }
    }

    .info_product {
      line-height: normal;
      margin: 15px 0;

      p {
        margin-bottom: 25px;
      }

      .tittle {
        font-size: 42px;
        color: $color_dark;
      }

      .price {
        font-size: 35px;
        color: $color_gray;
      }

      .descrip_short {
        color: $color_descrip_short;
        font-size: 18px;
      }

      .descrip_long{
        color: $color_pink;
        font-size: 18px;
      }
      legend{
        color: $color_dark;
      }
      select {
        width: 100%;
        height: 40px;
        font-size: 18px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      }

      button {
        width: 100%;
      }

      .button_purple_shop{
        font-size: 21px;
        cursor: pointer;
      }

      .politicas_entrega{
        color:$color_gray;
        text-decoration: underline!important;
        font-size: 16px;
        &:hover{
          color:$color_gray_hover;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .product_detail{
    padding: 4% 0;
    .row{
      .info_product{
        p{
          margin-bottom: 20px;
        }
        .tittle{
          font-size: 35px;
        }
        .price{
          font-size: 31px;
        }
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .product_detail{
    padding: 4% 0;
    .row{
      .info_product{
        p{
          margin-bottom: 20px;
        }
        .tittle{
          font-size: 35px;
        }
        .price{
          font-size: 31px;
        }
      }
    }
  }
}
