.banner_store {
  background: url("../imgs/banner_store.jpg") center;
  background-size: cover;
  height: 55vh;

  p {
    font-size: 72px;
    text-align: center;
    padding-top: 10rem;
    color: $color_dark;
    line-height: normal;
    font-family: 'Sedgwick Ave', cursive;
    width: 65%;
    margin: 0 auto;
  }
}

.div_store {
  padding: 0 2%;
  .toggle_checkout {
    button {
      display: none;
    }
  }

  .row {
    margin: 0;
  }

  .filters {
    .button_search {
      width: 50%;
      margin: 0 auto;
      display: table;

      button {
        width: 100%;
        margin: 15px 0;
        cursor: pointer;
        font-size: 18px;
      }
    }

    .card {
      background: $color_card;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.26);

      .advanced_search_toggle {
        cursor: pointer;

        i {
          font-size: 22px;
          color: $color_pink;
          padding: 0 10px;
        }

        p {
          color: $color_pink;
          padding: 10px 0;
          font-size: 20px;
          margin: 0;

          &::selection {
            background-color: $color_card;
            color: $color_pink;
          }
        }
      }

      .form-control {
        border-radius: 20px;
        border-color: $color_pink;
      }

      #advanced_search {
        a {
          color: $color_dark;
          font-size: 10px;
        }

        .tittle {
          font-size: 22px;
          color: $color_pink;
          text-align: center;
          text-transform: uppercase;
          padding: 20px 0 10px;
        }

        i {
          font-size: 20px;
          background-color: $color_pink_ligth;
          color: $color_pink;
          border-radius: 20px;
          padding: 10px 15px;
          border: 1px solid $color_pink;
          cursor: pointer;
        }

        .custom-select {
          border-radius: 20px;
          border-color: $color_pink;
          background: $color_white;
        }

        .form-check-label {
          font-size: 15px;
        }
      }

      .slider-horizontal {
        width: 100%;
      }

      .slider-handle {
        background-color: $color_pink;
        background-image: none;
      }
    }
  }

  .products {
    .card {
      background: $color_card;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.26);

      &:hover {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-animation-duration: 0.5s;
        -moz-animation-duration: 0.5s;
        -o-animation-duration: 0.5s;
        animation-duration: 0.5s;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.6);
      }

      .img_prod {
        position: relative;

        img {
          width: 100%;
        }

        .tittle {
          position: absolute;
          bottom: 0;
          margin: 0;
          background-color: #000000bd;
          width: 100%;
          text-align: center;

          p {
            color: $color_white;
            font-size: 18px;
            line-height: 22px;
            margin: 5% 5% 10%;
          }
        }
      }
    }
  }
}

#cont_pager {
  margin: 0 auto;
  display: table;
  padding: 40px 0;

  .end,
  .start {
    border: none;
    font-size: 20px;
  }

  .end {
    color: $color_pink;
  }

  a {
    color: $color_dark;
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid $color_dark;
    font-size: 15px;
  }

  .active {
    color: $color_pink;
    border: 1px solid $color_pink;
  }
}

.checkout {
  padding: 6% 3%;

  .row {
    margin: 0;
  }

  .tcenter {
    text-align: center;
  }

  .tittle {
    font-size: 42px;
    color: $color_dark;
    line-height: normal;
  }

  .product_list {
    align-items: center;

    p {
      margin: 0;
      font-size: 16px;
      color: $color_dark;
    }

    img {
      width: 100%;
    }

    a {
      color: $color_link;
      text-decoration: underline!important;
    }

    .name {
      font-size: 19px;
      font-weight: 700;
      color: $color_dark;
      padding-bottom: 10px;
    }

    .descrip_short {
      font-size: 15px;
      font-weight: 300;
      color: $color_gray;
      padding-bottom: 10px;
    }

    .quantity {
      text-align: center;
      padding: 10px;
      background-color: $color_card;
      border: 1px solid $color_dark;
      border-radius: 5px;
      margin: 0 auto;
      width: 50%;
      display: table;
      font-size: 16px;
    }

    .price {
      text-align: center;
      color: $color_dark;
      font-size: 18px;
    }
  }

  .payment {
    background-color: $color_card;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0;

    p {
      color: $color_dark;
      font-size: 16px;
      margin: 5px;
    }
  }

  .payment_button {
    button {
      margin: 15px 0;
      width: 100%;
      font-size: 21px;
      cursor: pointer;
      text-transform: uppercase;
    }
  }

  .toggle_checkout {
    button {
      display: none;
    }
  }

}

@media only screen and (max-width: 1169px) {
  .div_store {
    .filters {
      .card {
        padding: 10px;

        .advanced_search_toggle {
          p {
            font-size: 18px;
          }
        }

        #advanced_search {
          .tittle {
            font-size: 18px;
          }

          i {
            font-size: 18px;
            padding: 6px 8px;
          }

          .form-check-label {
            font-size: 13px;
          }
        }
      }
    }

    .products {
      .card {
        padding: 10px;

        .img_prod {
          .tittle {
            p {
              font-size: 16px;
              line-height: 18px;
              margin: 5%;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .checkout {
    padding: 4% 0;

    .toggle_checkout {
      button {
        display: block;
      }
    }
  }

  .div_store {
    padding: 0;
    .toggle_checkout {
      button {
        display: block;
      }
    }
  }

  .div_store {
    .filters {
      .card {
        padding: 10px;

        #advanced_search {
          i {
            font-size: 20px;
            padding: 10px 15px;
          }

          .form-check-label {
            font-size: 13px;
          }
        }
      }
    }
  }

  .banner_store {
    p {
      padding-top: 8rem;
      font-size: 60px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .banner_store {
    height: 45vh;

    p {
      padding-top: 5rem;
      font-size: 60px;
      width: 80%;
    }
  }
}
@media only screen and (max-width: 575px) {
  .banner_store {
    height: 45vh;

    p {
      font-size: 45px;
    }
  }

  .div_store {
    .products {
      .card {
        padding: 20px;

        .img_prod {
          .tittle {
            p {
              font-size: 20px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }

  .checkout{
    .row{
      .w15{
        width: 15%;
      }
      .w20{
        width: 20%;
      }
      .w30{
        width: 30%;
      }
      .w35{
        width: 35%;
      }
      .w50{
        width: 50%;
      }
      .w70{
        width: 70%;
      }
    }
    .tittle{
      font-size: 32px;
      margin: 0;
    }
    .tcenter{
      text-align: left;
    }
    .product_list{
      /*img{
        width: 70%;
        margin: 0 auto;
        display: table;
      }*/
      .name{
        padding-top: 20px;
      }
      .price{
        padding-top: 10px;
      }
      .quantity{
        margin:10px auto;
      }
    }
  }
}
@media only screen and (max-width: 389px) {
  .div_store {
    .products {
      .card {
        padding: 15px;

        .img_prod {
          .tittle {
            p {
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }
    }

    .filters {
      .card {
        #advanced_search {
          i {
            font-size: 18px;
            padding: 6px 8px;
          }

          .form-check-label {
            font-size: 13px;
          }
        }
      }
    }
  }

  .banner_store {
    p {
      padding-top: 8rem;
      font-size: 40px;
    }
  }
}
@media only screen and (max-width: 352px) {
  .banner_store {
    p {
      padding-top: 8rem;
      font-size: 36px;
    }
  }
}
