.informacion_usuario {
  padding: 6% 0;

  .row {
    margin: 0;
  }

  .tittle {
    font-size: 40px;
    color: $color_dark;
    line-height: normal;
    margin: 1rem 0 2rem;
  }

  .subtittle {
    font-size: 16px;
    color: $color_dark;
    line-height: normal;
  }

  .information_block {
    background-color: $color_card;
    border-radius: 5px;
    padding: 10px;
    min-height: 40vh;

    .info_element {
      padding-bottom: 15px;

      a {
        color: $color_link;
        text-decoration: underline;
      }

      p {
        color: $color_dark;
      }

      .tittle_info {
        font-size: 14px;
        font-weight: 400;
      }

      .value_info {
        font-size: 16px;
        font-weight: 700;
      }
    }

  }
  .button_add_payment {
    button {
      margin: 10px 0;
      width: 100%;
      font-size: 15px;
      cursor: pointer;
      text-transform: uppercase;
    }
  }
}

@media only screen and (max-width: 991px) {
  .informacion_usuario {
    padding: 4% 0;

    .tittle{
      margin: 1rem 0;
    }

    .subtittle {
      margin: 2rem 0 1rem;
    }

    .information_block {
      background-color: $color_card;
      border-radius: 5px;
      padding: 10px;
      min-height: 40vh;

      .info_element {
        padding-bottom: 15px;

        a {
          color: $color_link;
          text-decoration: underline;
        }

        p {
          color: $color_dark;
        }

        .tittle_info {
          font-size: 14px;
          font-weight: 400;
        }

        .value_info {
          font-size: 16px;
          font-weight: 700;
        }
      }

    }
  }
}
